.box {
    margin-left: 50px;
}

table {
    width: 85%;
}

th {
    width: 33.33%;
    font-size: 25px;
    padding: 10px;
}

td {
/*    width: 50%;*/
    height: 30px;
    padding: 5px;
}

.td-0 {
    width: 30%;
}

.b {
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
}
